.advantages {
  padding: 0 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
}

// .advantages__item {

// }

.advantages__item-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

// .advantages__item--healthy {

// }

// .advantages__item--fast {

// }

// .advantages__item--replacement {

// }

// .advantages__item--change {

// }
