.advantages {
  @media (min-width: @tablet-width) {
    margin-left: -5px;
    border-bottom: 1px solid @main-border-color;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px;
  }
}

.advantages__title {
  margin-top: 5px;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  counter-reset: section;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    min-height: 230px;
    margin-bottom: 45px;
    margin-right: 139px;
    padding: 0;
    padding-top: 42px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: @text-basic-color;

    &:nth-child(2n) {
      letter-spacing: 1px;
      margin-left: 0;
      // margin-right: 87px;
    }

    &::after {
      position: absolute;
      counter-increment: section;
      content: counter(section);
      left: 114px;
      top: 129px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      color: @basic-grey;
      z-index: -1;
    }
  }

  &::before {
    display: block;
    flex-shrink: 0;
    content: "";
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: @accent-color;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }
  }

  &--fast::before {
    position: relative;
    background-position: center;
    background-image: url("../img/fast-icon.svg");
  }

  &--healthy::before {
    position: relative;
    background-position: center;
    background-image: url("../img/healthy-icon.svg");
  }

  &--replacement::before {
    position: relative;
    background-position: center;
    background-image: url("../img/replacement-icon.svg");
  }

  &--change::before {
    position: relative;
    background-position: center;
    background-image: url("../img/change-icon.svg");
  }
}

.advantages__item-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    width: 245px;
    line-height: 24px;
  }
}
