.comment {
  display: flex;
  flex-direction: column;
  border-top: 2px solid @button-basic-color;
}

.comment__label {
  padding-bottom: 20px;
}

.comment__textarea {
  max-width: 1220px;
}

.comment__textarea::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
