.developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: center;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    padding: 0 109px;
  }
}

.developer__name {
  padding-top: 13px;
  padding-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @text-basic-color;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin: 0;
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 4px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 28px;
    padding-left: 24px;
  }
}

.developer__icon {
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 10px;
    padding-left: 20px;
  }

  // @media (min-width: @desktop-width) {

  // }
}
