.map {
  position: relative;
}

.map__block {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 15px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding: 0 68px;
    padding-top: 53px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: @main-color;
    top: 50%;
    left: 50%;
    transform: translate(-610px, -52%);
    width: 428px;
    height: 201px;
    padding-left: 75px;
    padding-top: 0;
    margin: 0;
  }
}

.map__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @invitation-title-color;
  text-transform: uppercase;
  max-width: 138px;
  padding-top: 4px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
    max-width: 171px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.map__container {
  padding-top: 15px;

  @media (min-width: @desktop-width) {
    padding-top: 18px;
    padding-right: 15px;
  }
}

.map__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @text-basic-color;
  max-width: 149px;
  padding-right: 3px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: right;
    max-width: 159px;
    justify-self: end;
    padding-right: 9px;
    padding-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    justify-self: start;
    text-align: start;
  }
}

.map__img {
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    max-height: 400px;
  }
}
