.other {
  padding: 0 20px;
}

// .other__title {

// }

// .other__goods {

// }

.other__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.other__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    max-width: 896px;
  }
}

.other__item {
  padding: 8px 0;

  @media (min-width: @desktop-width) {
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.other__gift {
  min-height: 280px;
  background-color: @promo-background-color;
}
