// .other-product {

// }

.other-product__link-text {
  text-transform: uppercase;
  color: @product-link-text-color;
}

// .other-product__block {

// }

.other-product__item {
  color: @text-basic-color;
}

// .other-product__name {

// }

// .other-product__value {

// }
