.page-header {
  position: relative;
  display: block;
  min-height: 264px;
  color: @main-text-color;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: 10px;
    min-height: 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

// .page-header--show {
// }

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  outline: 5px solid rgba(195, 0, 255, 0.3);
  outline-offset: -5px;
}

// .page-header__link {

// }

.page-header__logo {
  width: 35px;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  // @media (min-width: @tablet-width) {
  //   display: none;
  // }
}

.page-header__logo--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo--tablet {
  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo--desktop {
  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

// .page-header__title-logo {

// }

.page-header__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  background-color: @main-text-color;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

// .page-header__span {
// }

// .page-header__toggle-icon {

// }

// .page-header__toggle-icon--open {

// }

// .page-header__toggle-icon--close {

// }
