.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

// .footer-logo {

// }

.footer-social {
  // list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

// .footer-social__item {

// }

// .footer-social__button {

// }

// .developer {

// }

// .developer__name {

// }

// .developer__logo {

// }
