.page-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100%; //test
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 18px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 0;
  }
}

// .page-footer__logo {

// }

// .page-footer__social {

// }

// .page-footer__developer {

// }
