.page-main {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // width: 320px;
  // margin: 0 auto;

  outline: 5px solid rgba(234, 0, 255, 0.3);
  outline-offset: -5px;
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  padding: 0 20px;
}
