// .product {

// }

// .product__link-img {

// }

// .product__content {

// }

.product__link-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @product-link-text-color;
}

// .product__block {

// }
