.program-selection {
  padding: 0 20px;
  text-transform: uppercase;
}

.program-selection__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

//.program-selection__form {

// }

// .program-selection__fieldset {

// }

.program-selection__button {
  line-height: 18px;
  width: 280px;
}

// .program-selection__legend {

// }
