.program {
  padding: 0 20px;
  margin: auto;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
}

.program__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: auto;
    column-gap: 80px;
    padding: 0 110px;
    margin-top: 10px;
    margin-bottom: 70px;
  }
}

.program__item {
  padding: 20px;
  padding-top: 26px;
  margin: 0;
  margin-bottom: 19px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    height: 280px;
    padding-top: 75px;
    padding-left: 48px;
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    padding: auto 51px;
    min-height: 242px;
    margin-bottom: 0;
  }
}

.program__illustation {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @accent-color;

  @media (min-width: @tablet-width) {
    right: 97px;
    width: 202px;
    height: 202px;
    margin-left: auto;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    float: left;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin-left: 3px;
    margin-top: -30px;
  }
}

.program__icon {
  position: absolute;
}

.program__icon--slim {
  left: 8px;
  bottom: 3px;

  @media (min-width: @tablet-width) {
    left: 30px;
    bottom: 16px;
    width: 69%;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    left: 13px;
    bottom: 7px;
  }
}

.program__icon--pro {
  left: -9px;
  bottom: 13px;

  @media (min-width: @tablet-width) {
    left: -35px;
    bottom: 1px;
    width: 133%;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    left: -17px;
    bottom: 0;
  }
}

.program__title {
  margin-top: 6px;
  margin-bottom: 12px;
  padding: 0;
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    padding-top: 3px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-left: 166px;
  }
}

.program__text {
  width: 100%;
  padding-bottom: 22px;
  margin-top: 27px;
  margin-bottom: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @text-basic-color;
  border-bottom: 1px solid @main-border-color;

  @media (min-width: @tablet-width) {
    width: 59%;
    font-size: 16px;
    line-height: 24px;
    color: @main-text-color;
    border: none;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 45px;
    padding-left: 5px;
    padding-bottom: 27px;
    margin-bottom: 0;
    max-width: 467px;
  }
}

.program__text--pro {
  @media (min-width: @tablet-width) {
    max-width: 342px;
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 457px;
    margin-bottom: 3px;
  }
}

.program__button {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 100px;
  font-size: 16px;
  line-height: 16px;
  color: @main-text-color;
  text-transform: uppercase;
  padding-top: 20px;
  // padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.program__catalog {
  margin: 0;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 3px;
    padding-right: 25px;
  }
}
