.program-type {
  border: 1px solid @program-type-border-color;
}

.program-type__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}

.program-type__item {
  margin: 12px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @text-basic-color;
}

// .program-type__input {

// }

// .program-type__label {

// }
