.program-selection {
  // padding: 0 20px;
  text-transform: uppercase;

  // @media (min-width: @tablet-width) {
  //   padding-bottom: 71px;
  // }

  // @media (min-width: @desktop-width) {
  //   padding-bottom: 82px;
  // }
}

// .program-selection__form {
//   @media (min-width: @desktop-width) {
//     display: flex;
//     margin: 0 auto;
//     margin-bottom: 69px;
//     align-items: flex-start;
//     padding: 0 110px;
//     width: 1220px;
//     justify-content: space-between;
//   }
// }

.program-selection__flex {
  display: flex;
  align-items: flex-start;

  @media (max-width: @desktop-width) {
    display: grid;
  }
}

.program-selection__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 20px;
}

//.program-selection__form {

// }

.program-selection__fieldset {
  padding: 0 20px;
}

.program-selection__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 5px solid rgba(255, 0, 157, 0.3);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.program-selection__button {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 282px;
  }
}

.program-selection__legend {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: @tablet-width) {
    padding-left: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 81px;
  }
}
