.promo {
  position: relative;
  z-index: 2;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("../img/index-background.jpg");
  background-size: 100% 301px;
  color: @main-color;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 63%;
    background-blend-mode: multiply;
    background-color: @promo-background-color;
    z-index: 1;
  }

  @media (min-width: @tablet-width) {
    background-image: none;
    color: @main-text-color;

    &::before {
      background: none;
    }
  }

  // @media (min-width: @desktop-width) {
  // }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
  margin: 0 auto;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: 77px;
    padding-right: 20px;
    padding-top: 54px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-left: 150px;
    padding-top: 110px;
    height: 540px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 9px;
  max-width: 249px;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-width: 414px;
    margin-left: 5px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 18px;
  }
}

.promo__slogan {
  margin: 0;
  padding: 16px 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 5px;
    margin-bottom: 34px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 38px;
  }
}

.promo__picture {
  @media (min-width: @tablet-width) {
    position: relative;
    order: 3;
    bottom: 80px;
  }

  // @media (min-width: @desktop-width) {
  // }
}

.promo__img {
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @tablet-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 246px;
    font-size: 20px;
    line-height: 20px;
  }
}
