.promo {
  position: relative;
  z-index: 2;
  background-position: center top;
  background-repeat: no-repeat;
  color: @basic-white;
  // background-image: url("../img/index-background-desktop-2.jpg");

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background-blend-mode: multiply;
    background-color: @bg-green;
    z-index: 1;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 27px;
  position: relative;
  z-index: 2;

  outline: 5px solid rgba(229, 255, 0, 0.3);
  outline-offset: -5px;
}

// .promo__container {

// }

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 29px;
}

// .promo__img {

// }

.promo__button {
  line-height: 18px;
  width: 280px;
  background-color: @basic-green;

  &:hover {
    background-color: @green-hover;
  }

  &:active {
    background-color: @green-hover;
    color: @white-hover;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: @basic-white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  border: none;
}
