.social {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-right: 13px;
  border-top: 1px solid @main-border-color;
  border-bottom: 1px solid @main-border-color;

  @media (min-width: @tablet-width) {
    align-items: center;
    border: none;
  }
}

.social__item {
  padding-top: 25px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 22px;
    padding-left: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 29px;
  }
}

.social__button {
  fill: @footer-icon-color;

  &:hover {
    fill: @accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon--vk {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__icon--inst {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon--fb {
  @media (min-width: @tablet-width) {
    width: 13px;
    height: 27px;
  }
}
