//Colors
@main-text-color: #000000;
@main-color: #ffffff;
@accent-color: #68b738;

@basic-grey: #f2f2f2;
@main-border-color: #e6e6e6;

@accent-color: #68b738;
@button-hover-color: #5eaa2f;
@button-text-hover-color: rgba(255, 255, 255, 1);

@promo-background-color: rgba(104, 183, 56, 0.85);
@example-background-color: #eaeaea;
@example-border-color: #cdcdcd;
@product-border-color: #ebebeb;
@program-type-border-color: #d9d9d9;
@text-basic-color: #444444;
@invitation-title-color: #111111;
@product-link-text-color: #222222;
@footer-icon-color: #666666;

//Viewports
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
